html{
	font-size:100%;
}
body{
	padding:0;
	margin:0;
	height: 100vh;
	width: 50vh;
	text-align: center;
	font-family: font,Gotham SSm A,sans-serif;
	color:#3b3d42;
	font-size: 4rem;
}
input{
 	padding:2px;
 	/*margin-left:.5rem;*/
 	font-size: 1.5rem;
 	border-style: solid;
 	border-radius: 10px;
 	border -width: .2rem;
 }
.title{
	text-align:center;
}
img{
	width:50px;
}
.overlay {
  position: absolute;
  z-index: 1000;
  padding: 30px;
}
.profileChoice{
	display = none;
}
#gameCanvas{
	display : none;
	    padding: 0;
   	 margin: auto;
   	 display: none;
   	 height:75%;
   	 position: absolute;
   	 top: 20vh;
    	bottom: 0;
    	left: 0;
   	 right: 0;
}
canvas{
display: none;
}
#landing_page{
	display:inline-block;
}
#login{
	text-align:center;
	display:none;
}
#new_user{
	display:none;
}
#game{
	display:none;
}
 input:focus,select:focus,textarea:focus,button:focus {
    outline: none;
}
@font-face {
    font-family: "font";
    src: url('../assets/andrey/Andrey.ttf'); 
}

a{
	text-decoration: none;
	color:black;
}
a:hover{
	opacity: .7;
}
button{
	text-align: center;
	font-family: font,Gotham SSm A,sans-serif;
	color:#3b3d42;
	font-size: 4rem;
	border: none;
}
