html{
	font-size:100%;
}
body{
	padding:0px;
	margin:0px;
	height: 100vh;
	width: 100vw;
	text-align: center;
	font-family:font,  Gotham SSm A,sans-serif;
	color:#3b3d42;
	font-size: 3rem;
	line-height:0px;
	postion: relative;
}
input{
 	padding:2px;
 	
 	font-size: 1.5rem;
 	border-style: solid;
 	border-radius: 10px;
 	border -width: .2rem;
 }
.title{
	font-size: 3rem;
	text-align:center;
}
img{
	width:50px;
}
.overlay {
  position: absolute;
  z-index: 1000;
  padding: 30px;
}
#backStory{
	font-family:Gotham SSm A,sans-serif;
	line-height: 50px;
}
.profileChoice{
	display = none;
}
.headers{
	font-size: 3rem;
	/*font-size: 4rem;*/
	font:font,Gotham SSm A,sans-serif;
}

/*#gameCanvas {
	display : none;
	    padding: 0;
   	 margin: auto;
   	 display: none;
   	 height:75%;
   	 position: absolute;
   	 top: 20vh;
    	bottom: 0;
    	left: 0;
   	 right: 0;
}*/
#myAnimation{
	list-style:none;
	position:absolute;
	font-size:3rem;  
  	left: -200px;
 	 z-index: 10;
  	animation-duration: 8s;
  	animation-name: goRight;
}

@keyframes goRight {
  from {
    transform: translate(0,0);

  }

  to {
    transform: translate(100vw,0);

	display:none;
  }
}
}
canvas{	
	width:50%;
	height:auto;
}
#app{
	padding: 0px;
}
#landing_page{
	font-size: 3rem;
	padding-left:20rem;	
}
#login{
	font-size: 3rem;
	text-align:center;
	display:none;
}
#new_user{
	font-size: 3rem;
	display:none;
}
#game{
	font-size: 4rem;
	display:none;
}
 input:focus,select:focus,textarea:focus,button:focus {
    outline: none;
}
@font-face {
    font-family: "font";
    src: url('../assets/andrey/Andrey.ttf'); 
}
.chat{
	font-size:2rem;
}
.leaderBoard{
	background-color: rgba(59, 61, 66, .5);
	color:white;
	border-style: dashed;
	border-width:10px;
	border-color: yellow;
	/*padding-left:30vw;
	padding-right: 30vw;*/
	padding-bottom: 40vh;
	margin-left: 30vw;
}
a{
	text-decoration: none;
	color:black;
}
td{
	font-size: 2.5rem;
}
a:hover{
	opacity: .7;
}
button{
	text-align: center;
	font-family: font,Gotham SSm A,sans-serif;
	color:#3b3d42;
	font-size: 3rem;
	border: none;
}
label{
	font:font,Gotham SSm A,sans-serif;
	font-size: 3rem;

}
