html{
	font-size:100%;
}
body{
	padding:0;
	margin:0;
	height: 100vh;
	width: 50vh;
	text-align: center;
	font-family: font,Gotham SSm A,sans-serif;
	font-weight: lighter;
	color:#3b3d42;
	font-size: 4rem;
}
input{
 	padding:2px;
 	/*margin-left:.5rem;*/
 	font-size: 1.5rem;
 	border-style: solid;
 	border-radius: 10px;
 	border -width: .2rem;
 }
 @font-face {
    font-family: "font";
    src: url('../assets/andrey/Andrey.ttf'); 
}
.title{
	text-align:center;
}
.login{
	text-align:center;
}
 input:focus,select:focus,textarea:focus,button:focus {
    outline: none;
}
